.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.home__title {
  color: #333;
}

.home__subtext {
  margin-bottom: 20px;
  color: #666;
}

.home__article {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
}

.home__article-title {
  margin-bottom: 10px;
  color: #1890ff;
}

.home__list {
  margin-top: 15px;
  padding: 0;
}

.home__list-item {
  margin-bottom: 10px;
}
